body {
    margin: 0;
    padding: 0;
    font-family: consolas;
    overflow-x: hidden;
    height: 100vh;
    background: url('assets/brickwallSidebar.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}
/*Header*/
.container{
    position: relative;
    
    top: 150px;
}
/* #header{
   
} */
h1 {
    font-family: Arial, Helvetica, cursive;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}
h2 {
    font-family: Arial, Helvetica, cursive;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}
/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px red,
        0 0 80px red,
        0 0 90px red,
        0 0 100px red,
        0 0 150px red;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

/*Sidebar Menu*/

@keyframes flickerGreen 
{
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% 
    {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(42, 145, 52),
        0 0 80px rgb(42, 145, 52),
        0 0 90px rgb(42, 145, 52),
        0 0 100px rgb(42, 145, 52),
        0 0 150px rgb(42, 145, 52);
    
    }
    
    20%, 24%, 55% 
    {        
        text-shadow: none;
    }    
}
ul li a
{
    display: block;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}
ul li p
{
text-align: center;
color: white;
font-size: 20px;
}
ul li a:hover
{
    transform: translatex(10px);
    color: rgb(198, 254, 203);
    animation: flickerGreen 1.5s infinite alternate;
}
/*About Me*/
.profilePic{
    display: block;
    max-width: 85%;
    height: auto;
}
p {
    margin-top: 0;
    margin-bottom: 4rem;
}
#abouttext{
    text-align: left;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

/*Projects*/
/* #projects {

} */
#flexcard {
    transform: translatex(10px);
    display: flex;
    width: 100px;
}
#flexcard:hover{
    border-radius: 5px;
    background-color: rgb(240, 47, 56);
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 50%;
   
    animation: flickerRed 1.5s infinite alternate;

}
@keyframes flickerRed {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 10px rgb(240, 47, 56),
        0 0 30px rgb(240, 47, 56),
        0 0 40px rgb(240, 47, 56),
        0 0 50px rgb(240, 47, 56),
        0 0 100px rgb(240, 47, 56);
    
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
  }
/*Contact Me*/
.container {
  max-width: 200px;

}
#contact {
    border-radius: 5px;
    background-color: rgb(29, 194, 226);
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 50%;
   
    animation: flickerBlue 1.5s infinite alternate;
   
}
@keyframes flickerBlue {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 10px rgb(29, 194, 226),
        0 0 30px rgb(29, 194, 226),
        0 0 40px rgb(29, 194, 226),
        0 0 50px rgb(29, 194, 226),
        0 0 100px rgb(29, 194, 226);
    
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
  }

.formname {
    display: flex;
    flex-grow: 1;
    margin-right: 4px;
}
input[type=message], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=subject], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.btn-md {
    border-color: shadow #0f1d24;
}