body {
    margin: 0;
    padding: 0;
    font-family: consolas;
    overflow-x: hidden;
    height: 100vh;
    background: radial-gradient(#3940a2,#233963);
  
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}
/*Header*/
.container{
    position: relative;
    left: -60px;
    top: 200px;
}

/*Sidebar Menu*/
input[type="checkbox"]
{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    cursor: pointer;
    opacity: 0;

}

.wrapper {
    display: flex;
    align-items: stretch;
}
@media (max-width: 768px) {
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}
#sidbear.active
{
    margin-left: -250px;
}
}
.icon
{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100001;
    background: #000;
    pointer-events: none;
}
.icon:before 
{
    content: 'close';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
}
input[type="checkbox"]:checked ~ .icon:before
{
    content: 'menu';
}
ul{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 20px;
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    background: #000;
    transition: 0.5s;
    z-index: 100000;
    overflow-y: auto;
}
input[type="checkbox"]:checked ~ ul
{
    left: -300px;
}
ul li 
{
    list-style: none;
}
ul li a
{
    display: block;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}
ul li p
{
text-align: center;
color: white;
font-size: 20px;
}
ul li a:hover
{
    transform: translatex(10px);
    color: rgb(0, 162, 255);
}


/*About Me*/
p {
    margin-top: 0;
    margin-bottom: 4rem;
}
/*Projects*/

/*Contact Me*/
.container {
  max-width: 450px
}
#contact {
    border-radius: 5px;
    background-color: #29c3df;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.formname {
    display: flex;
    flex-grow: 1;
    margin-right: 4px;
}
input[type=message], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=subject], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.btn-md {
    border-color: shadow #0f1d24;
}